body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Font */
    font-family: 'Open Sans';
    font-size: 30px;

    /* Line spacing */
    line-height: 2;

    /* Background */
    background-image: url('/media/background1.jpg');
    background-color: rgba(255, 255, 255, .5);
    background-blend-mode: lighten;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#boardcontainer {
    height: 80vh;
    width: 60vw;
}

div#pexeso_board {
    background-color: rgb(214, 248, 255);
    border: #999 1px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 12px;
    height: 90%;
    width: 70%;
    margin: 20px auto;
}

.divcontainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 25%;
    width: 50%;
    padding: 2%;
}

.tile {
    display: flex;
    justify-content: center;
    
    align-items: center;
    font-size: 200%;
    background-color: rgb(57, 120, 247);
    border: #000 1px solid;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-align: center;
}

#clear {
    clear: both;
}

.paragraph {
    text-align: left;
    margin: 20px;
}

.paragraph_header {
    font-size: 40px;
    font-weight: bold;
}
